html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

/* Header */
.navbar {
    margin-bottom: 0px;
}

/* Content */
.container {
    padding: 1.0em;
}

/* Background */
.background {
    background: url("../img/background-image.jpeg") no-repeat center center fixed #000000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Login and Sign Up forms */
.authentication-form {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

/* Search bar */
#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 20px;
}

/* Row spacing */
.margin-top-10 {
    margin-top: 1.0em;
}

/* Textarea without resize */
#post-area {
    resize: none;
}

/* User messages */
.user-message {
    width: 100%;
    text-align: center;
    margin: 1.0em;
}

.user-message span {
    color: #8a8a5c;
    font-size: 20px;
}