<!-- Textbox for writing posts -->
<div class="panel panel-default">
    <div class="panel-body">
        <!-- Show messages here -->
        <div class="alert alert-danger" role="alert" ng-show="hasMessage()">
            <span ng-bind="getMessage()"></span>
        </div>
        
        <form ng-submit="addPost(post)">
            <div class="form-group">
                <textarea id="post-area" class="form-control" rows="1" cols="40" placeholder="Write your post here" onfocus="this.rows=3" onsubmit="this.rows=1" ng-model="post.text" required></textarea>
            </div>
            
            <input class="btn btn-success btn-block" type="submit" value="Post">
        </form>
    </div>
</div>

<!-- Display posts here -->
<div ng-repeat="post in getFeed()">
    <div class="panel panel-default">
        <div class="panel-body">
            <p ng-bind="post.post.text"></p>
        </div>
    </div>
</div>