<!-- Textbox for writing posts -->
<div class="panel panel-default">
    <div class="panel-body">
        <form>
            <div class="form-group">
                <textarea id="post-area" class="form-control" rows="1" cols="40" placeholder="Write your post here" onfocus="this.rows=3" onblur="this.rows=1" required></textarea>
            </div>
            
            <input class="btn btn-success btn-block" type="submit" value="Post">
        </form>
    </div>
</div>

<!-- Display posts here -->
<div class="panel panel-default">
    <div class="panel-body">
        <p>This is a post in the feed.</p>
    </div>
</div>