<div class="container">
    <!-- Button to show hidden posts -->
    <form ng-show="hasNewPosts()" ng-submit="getAllRecentPosts()">
        <input class="btn btn-success btn-block" type="submit" value="Load New Messages">
    </form>
    
    <!-- Textbox for writing posts -->
    <div class="panel panel-default">
        <div class="panel-body">
            <!-- Show messages here -->
            <div class="alert alert-danger" role="alert" ng-show="hasMessage()">
                <span ng-bind="getMessage()"></span>
            </div>

            <form ng-submit="addPost(post)">
                <div class="form-group">
                    <textarea id="post-area" class="form-control" rows="1" cols="40" placeholder="Write your post here" onfocus="this.rows=3" onsubmit="this.rows=1" ng-model="post.text" required></textarea>
                </div>

                <input class="btn btn-success btn-block" type="submit" value="Post">
            </form>
        </div>
    </div>

    <!-- Display posts here -->
    <posts infinite-scroll="getOldPosts()" infinite-scroll-distance="0.2"></posts>
</div>