<div class="container">
    <div class="row-fluid">
        <div class="col-md-6 col-md-offset-6 authentication-form">
            <h2>Sign Up</h2>

            <div class="alert alert-danger" role="alert" ng-show="hasMessage()">
                <span ng-bind="getMessage()"></span>
            </div>

            <form ng-submit="signUp(user)">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Name" ng-model="user.name" required>
                </div>

                <div class="form-group">
                    <input class="form-control" type="email" placeholder="Email" ng-model="user.email" required>
                </div>

                <div class="form-group">
                    <input class="form-control" type="password" placeholder="Password" ng-model="user.password" required>
                </div>

                <div class="form-group">
                    <input class="form-control" type="password" placeholder="Re-Enter Password" ng-model="user.reEnterPassword" required>
                </div>

                <p>Already have an account? <a ui-sref="login">Login</a></p>

                <input class="btn btn-success btn-block" type="submit" value="Sign Up">
            </form>
        </div>
    </div>
</div>