<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-body">
            <span ng-bind="user.name"></span> (<a ui-sref="profile.posts({ username: user.username })">{{user.username}}</a>)

            <!-- Follow button -->
            <form ng-hide="user.following" ng-submit="follow(user, $index)">
                <input class="btn btn-success btn-block" type="submit" value="Follow"/>
            </form>

            <!-- Unfollow button -->
            <form ng-show="user.following" ng-submit="unfollow(user, $index)">
                <input class="btn btn-danger btn-block" type="submit" value="Unfollow"/>
            </form>
        </div>
    </div>
</div>