<!DOCTYPE HTML>

<html lang="en" ng-app="app">
    <head>
        <title ng-bind="title">myApp</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta charset="utf-8">
        <base href="/">
    </head>

    <body>
        <!-- Navbar adapted from https://getbootstrap.com/components/#navbar -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!-- Toggle button for the collapsed section of the navbar -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a class="navbar-brand" href="#">Name</a>
                </div>
                
                <!-- Collapse this section of the navbar on small screens -->
                <div id="navbar-collapse" class="collapse navbar-collapse">
                    <!-- Add the auto-active-link directive -->
                    <ul class="nav navbar-nav navbar-right" auto-active-link>
                        <li><a href="/feed">Feed</a></li>
                        <li><a href="/search">Search</a></li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/login">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <!-- The partials will be displayed inside this div tag -->
        <div ng-view class="container"></div>
        
        <!-- Include external files at the end of the body and include the css files first to make the load time appear quicker -->
        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- style.css file -->
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        
        <!-- AngularJS CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
        
        <!-- JS Files -->
        <script src="/static/js/app.js"></script>
        <script src="/static/js/directives.js"></script>
        <script src="/static/js/controllers.js"></script>
        <script src="/static/js/services.js"></script>
        
        <!-- JQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

        <!-- Bootstrap JS CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>